html {
    background: linear-gradient(to bottom right, #ffffff, #777777, #1d1d1c);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

body {
    text-align: center;
    margin: auto;
    padding: 20px;
}

h1 {
    color: deeppink;
    text-shadow: 3px 3px #1d1d1c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    padding: 30px;
}

button {
    background-color: transparent;
    text-align: center;
    background-image: url('light-on.png');
    padding: 30px;
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    border-collapse: collapse;
    cursor: pointer;
    border: hidden;
}

main {
    padding: 30px;
}

footer {
    font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: deeppink;
    text-align: center;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#logo {
    width: 90px;
    height: 20px;
}